*~
*.[o]
*.out
logs/*
*.jlp
*.aux
*.fls
*.pdf
*.place
*.lpm
*.ppm
*.pgm
*.pyc
*.kdev4
.sconsign.dblite
vulcan_lcm/*
images/*
data/*
docs/doxygen/*
build/release/*
build/debug/*
build/bin/*
build/lib/
external/flycapture2-2.2.3.14-amd64/*
/nbproject/private/
/External_Libs/
/logs/
