SUBSYSTEMS=="usb", KERNEL=="ttyACM[0-9]*", ATTRS{manufacturer}=="Hokuyo Data Flex for USB", ATTRS{product}=="URG-Series USB Driver", PROGRAM="/usr/local/bin/get_hokuyo_id /dev/%k", SYMLINK+="hokuyo_%c"
